<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

    <title>FFABlob</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
  <body>

      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Analyser<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/convert">Convertir</a>
                    </li>
<!--                    <li class="nav-item">
                        <a class="nav-link" href="/check">Vérifier</a>
</li> -->
                </ul>
        </div>
    </nav>

    <!-- Masthead -->
        {% if convert %}
        <div class="container">
        {% else %}
        <div class="container-fluid">
        {% endif %}

            <h2 style="text-align:center" class="mb-5"><img src="/static/ffablob.png">{% block titre %}Titre rubrique{% endblock %}</h2>
            <div class="row"><!-- Début section principale -->

            {% if convert %}
                <div class="col-xl"> <!-- Contenu principal -->
                {% block browsefile %}
                {% endblock %}
                </div>
            {% else %}

                <!-- liste courses --> 
                <div class="col-sm-4" >
                    <h4>Courses</h4>
                    <hr>

                        {% block raceload %}
                        {% endblock %}
                        <div style="margin:5px;text-align:center"><b>ou</b></div>
                        {% block search %}
                        {% endblock %}
                        <div style="margin:5px"></div>
                        <hr>


                        <div class="list-group">
                            {% block racecart %}
                            {% endblock %}
                        </div>
                </div>

                <div class="col-sm-8"> <!-- Contenu principal -->

                    {% block message %}
                    {% endblock %}

                    <div class="accordion" id="accordionExample">

                    {% if selected_races %}
                    <div class="card">
                            <div class="card-header" id="headingOne">
                                      <h5 class="mb-0">
                                                  <button class="btn btn-link"
                                                      type="button"
                                                      data-toggle="collapse"
                                                      data-target="#collapseOne"
                                                      aria-expanded="true"
                                                      aria-controls="collapseOne">
                                                      Statistiques
                                                  </button>
                                        </h5>
                            </div>
                            <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    {% block stats %}
                                    {% endblock %}
                                </div>
                            </div>
                    </div>
                    {% endif %}



                    {% if results %}
                    <div class="card">
                            <div class="card-header" id="headingThree">
                                      <h5 class="mb-0">
                                                  <button class="btn btn-link"
                                                      type="button"
                                                      data-toggle="collapse"
                                                      data-target="#collapseThree"
                                                      aria-expanded="true"
                                                      aria-controls="collapseThree">
                                                      Résultats de la course
                                                  </button>
                                        </h5>
                            </div>
                            <div id="collapseThree" class="collapse hide" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    {% block results %}
                                    {% endblock %}
                                </div>
                            </div>
                    </div>
                    {% endif %}

                       {% if tab_records %}
                    <div class="card">
                            <div class="card-header" id="headingFour">
                                      <h5 class="mb-0">
                                                  <button class="btn btn-link"
                                                      type="button"
                                                      data-toggle="collapse"
                                                      data-target="#collapseFour"
                                                      aria-expanded="true"
                                                      aria-controls="collapseFour">
                                                      Records des coureurs de la course
                                                  </button>
                                        </h5>
                            </div>
                            <div id="collapseFour" class="collapse hide" aria-labelledby="headingFour" data-parent="#accordionExample">
                                <div class="card-body">
                                    {% block records %}
                                    {% endblock %}
                                </div>
                            </div>
                    </div>
                    {% endif %}

                    </div>


                    {% if searchresults %}
                    <div class="card">
                            <div class="card-header" id="headingTwo">
                                      <h5 class="mb-0">
                                                  <button class="btn btn-link"
                                                      type="button"
                                                      data-toggle="collapse"
                                                      data-target="#collapseTwo"
                                                      aria-expanded="true"
                                                      aria-controls="collapseTwo">
                                                      Résultats de recherche
                                                  </button>
                                        </h5>
                            </div>
                            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    {% block searchresults %}
                                    {% endblock %}
                                </div>
                            </div>
                    </div>
                    {% endif %}

                    {% block help %}
                    {% endblock %}

                </div>
            {% endif %}

            </div> <!-- /row -->

       </div><!-- /container -->


    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>

</html>
