{% extends "base.html" %}

{% block titre %}Analysez les resultats de vos courses!{% endblock %}

{% block raceload %}
        {% include "raceload.html" %}
{% endblock %}

{% block search %}
        {% include "search.html" %}
{% endblock %}

{% block racecart %}
	{% if racelist %}
		<div class="accordion" id="accordionExample">
            {% for race in racelist %}
                    <div class="card">
                            {% include "raceform.html" %}
                    </div> 
            {% endfor %}
		</div> 
		<div style='text-align:right;margin:5px'>

            <form action="/compare/" method="post" id="form_compare">
            {% csrf_token %}
            <button type="submit" style="display: none;" id="submit_compare">Comparer</button>
            </form>

            <label for="submit_compare"><span type="submit" class="badge badge-pill badge-success" style="cursor: pointer;">Comparer</span></label>
            <a href='/flushcart'><span class="badge badge-pill badge-danger">Effacer la liste</span></a>
        </div><!-- /.accordion -->
    {% endif %}
{% endblock %}

{% block searchresults %}
        {% if searchresults %}
            <ul class="list-group list-group-flush">
               <!-- {% for result in searchresults %}
                    <li class="list-group-item">
                        <b>{{ result.3 }}</b>: {{ result.2 }} (ID: {{result.0}}, format: {{result.1}})
                        <a href='/addrace/{{result.0}}/{{result.1 | urlencode}}'><span class="badge badge-pill badge-danger">Ajouter à la liste</span></a>
                        <a href='http://bases.athle.com/asp.net/liste.aspx?frmbase=resultats&frmmode=1&frmespace=0&frmcompetition={{result.0}}&frmepreuve={{result.1}}'><span class="badge badge-pill badge-success">Lien FFA</span></a><br> </li>
                {% endfor %}

               -->



		<table class="table" style="margin-top:20px">
			<thead class="thead-dark">
				<tr>
                        <th scope="col"><a href='/search/date'>Date</a></th>
                        <th scope="col"><a href='/search/ID'>ID FFA</a></th>
                        <th scope="col"><a href='/search/race_name'>Course</a></th>
                        <th scope="col"><a href='/search/format'>Format</a></th>
                        <th scope="col">Actions</th>
				</tr>
			</thead>
                    <tbody>
                        {% for result in searchresults %}
                        <tr>
                            <th scope="row">{{ result.3 }} </th>
                            <td>{{ result.0 }} </td>
                            <td>{{ result.2 }} </td>
                            <td>{{ result.4 }} </td>
                            <td><a href='/addrace/{{result.0}}/{{result.1 | urlencode}}'><span class="badge badge-pill badge-danger">Ajouter à la liste</span></a>
                            <a href='http://bases.athle.com/asp.net/liste.aspx?frmbase=resultats&frmmode=1&frmespace=0&frmcompetition={{result.0}}&frmepreuve={{result.1}}'><span class="badge badge-pill badge-success">Lien FFA</span></a><br> </li></td>

                         </tr>
                        {% endfor %}
		</table>

            </ul>
        {% endif %}
{% endblock %}

{% block message %}
	{% if error_msg_url %}
		<div class="alert alert-warning" role="alert" style="margin-top:5px;margin-bottom:5px">
			{{ error_msg_url }}
		</div>
	{% endif %}
{% endblock %}

{% block help %}
            <div class="alert alert-success" role="alert" style="margin-top:5px">
                  <h4 class="alert-heading">Comment utiliser cette rubrique:</h4>
                      <p> 
                        Pour rechercher une course, utilisez <a href='http://bases.athle.com/asp.net/accueil.aspx?frmbase=resultats'>le moteur de base athlé FFA.</a>
                        <br>
                        Le lien à coller dans la boite de dialogue doit, dans sa forme et dans son contenu, ressembler au suivant:<br>
                        <a
                      href='http://bases.athle.com/asp.net/liste.aspx?frmbase=resultats&frmmode=1&frmespace=0&frmcompetition=207883&frmepreuve=10+km+TC'>http://bases.athle.com/asp.net/liste.aspx?frmbase=resultats&frmmode=1&frmespace=0&frmcompetition=207883&frmepreuve=10+km+TC</a><br>
                        Attention à bien sélectionner l'épreuve dans le menu
                        déroulant de la course, sinon la page ne sera
                        pas bien lue par FFABlob.
                        <div style="text-align:center"><b><u>Ou bien</u></b></div><br>
                        Utilisez la base de données FFABlob, qui est constitué
                        des courses déjà recherchées par les utilisateurs, peu
                        remplie au début elle le sera de plus en plus au fur
                        et à mesure. Si rien n'est renseigné dans la boite,
                        l'ensemble des courses de la base de données sera
                        affichée.
                        <p>
                      <hr>
                        <p class="mb-0">Un sujet sur le forum de Kikourou.net a été ouvert à ce sujet: <a href="http://www.kikourou.net/forum/viewtopic.php?f=1&t=41186">lien</a></p>
            </div>
{% endblock %}

{% block content %}
		{% if results %}
		Aperçu de la course chargée
		<table class="table" style="margin-top:20px">
			<thead class="thead-dark">
				<tr>
			      		<th scope="col">Classement</th>
                        <th scope="col">Chrono</th>
                        <th scope="col">Coureur</th>
                        <th scope="col">Club</th>
				        <th scope="col">Cat</th>
				        <th scope="col">Sexe</th>
				</tr>
			</thead>
                    <tbody>
                        {% for result in results %}
                        <tr>
                            <th scope="row">{{ result.rstl.0 }} </th>
                            <td>{{ result.rstl.1 }} </td>
                            <td>{{ result.rstl.2 }} </td>
                            <td>{{ result.rstl.4 }} </td>
                            <td>{{ result.rstl.5 }} </td>
                            <td>{{ result.rstl.6 }} </td>
                         </tr>
                        {% endfor %}
		</table>
		{% endif %}

		{% if tab_records %}
        Aperçu de la performance des participants:<br>
        <b>Course</b>: {{ race_recap.name }} <b>Epreuve</b>: {{ race_recap.race_type }} (<b>race ID</b>: {{ race_recap.id }})<br>
        <b>Nombre de participants</b>: {{ race_recap.runner_nb }}<br>
        <b>Temps moyen</b>: {{ race_stats.0 }}<br>
        <b>Temps médian</b>: {{ race_stats.1 }}
		<table class="table" style="margin-top:20px">
			<thead class="thead-dark">
				<tr>
			      		<th scope="col">Classement</th>
                        <th scope="col">Chrono</th>
                        <th scope="col">Coureur</th>
                        <!-- TODO: dates as parameters -->
                        <th scope="col">2018</th>
                        <th scope="col">2017</th>
				        <th scope="col">2016</th>
				        <th scope="col">2015</th>
				</tr>
			</thead>
                    <tbody>
                        {% for record in tab_records %}
                        <tr>
                            <th scope="row">{{ forloop.counter }} </th>
                            <td>{{ record.0 }} </td>
                            <td>{{ record.1 }} </td>
                            <td>{{ record.2.0 }} </td>
                            <td>{{ record.2.1 }} </td>
                            <td>{{ record.2.2 }} </td>
                            <td>{{ record.2.3 }} </td>
                         </tr>
                        {% endfor %}
		</table>
		{% endif %}

        {% if selected_races %}
        Statistiques de comparaison des courses:<br>
            <table class="table" style="margin-top:20px">
			<thead class="thead-dark">

            <tr>
                            <th scope="col"></th>
            {% for race in selected_races %}
                            <th scope="col" style="text-align:center">{{ race.name }} (ID: {{ race.ID }})</th>
            {% endfor %}
            </tr>
			</thead>
                    <tbody>
                        <tr>
                            <th scope="row" style="text-align:center">Moyenne</th>
                            {% for race in selected_races %}
                            <td style="text-align:center">{{ race.race_stats.meantime }} </td>
                            {% endfor %}
                         <tr>
                            <th scope="row" style="text-align:center">Mediane</th>
                            {% for race in selected_races %}
                            <td style="text-align:center">{{ race.race_stats.mediantime }} </td>
                            {% endfor %}
                         </tr>
</tr>
		</table>

        {% endif %}


{% endblock %}

