<div class="card-header" id="heading{{ forloop.counter }}">
        <div class="row">
            <input class="col-1" type="checkbox" id="blankCheckbox" name="option_{{ forloop.counter }}" value='{{race.0}}/{{race.1}}' aria-label="..." form="form_compare">
            <div class="col">
            {{ race.2 }} (ID course: {{ race.0 }}) 
            </div>
        </div>
                <button class="btn btn-link" style="padding:0px" type="button" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}"><span class="badge badge-pill badge-success">Analyse</span> </button>

            <a href='/showrace/{{ race.0 }}/{{ race.1|urlencode }}'><span class="badge badge-pill badge-success">Aperçu</span></a>
            {% include "csvmodal.html" %}
            <a href='/removerace/{{ race.0 }}/{{ race.1|urlencode }}'><span class="badge badge-pill badge-danger">Supprimer</span></a>

</div>

<div id="collapse{{ forloop.counter }}" class="collapse {% if forloop.first %}<!--show-->{% endif %}" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordionExample">
    <div class="card-body">
        <b>Performance des partipants</b><br>

        <form action="/loadanalysis/{{ race.0 }}/{{ race.1 | urlencode }}/" method="post"><!-- Formulaire -->
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="RaceType" id="inlineRadio10_{{ forloop.counter }}" value="10" checked="checked">
                <label class="form-check-label" for="inlineRadio10_{{ forloop.counter }}">10kms</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="RaceType" id="inlineRadio21_{{ forloop.counter }}" value="21">
                <label class="form-check-label" for="inlineRadio21_{{ forloop.counter }}">Semi</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="RaceType" id="inlineRadio42_{{ forloop.counter }}" value="42">
                <label class="form-check-label" for="inlineRadio42_{{ forloop.counter }}">Marathon</label>
            </div>
        </div>
            <button type="submit" class="btn btn-block btn-sm btn-primary">Analysez la course!</button>
        </form>
    </div>

</div>
